name: Add-On Build AC25-29
on:
  push


defaults:
  run:
    shell: bash

jobs:
  build_win:
    strategy:
      fail-fast: false
      matrix:
        ac-version: [25, 26, 27, 28, 29]
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Checkout the submodule
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install requests
      
      - name: Run build script
        run: |
          python Tools/BuildAddOn.py --configFile config.json --acVersion ${{ matrix.ac-version }} --release  --package
      - name: Get Time
        id: time
        uses: nanzm/get-time-action@master
        with:
          format: 'YYYY-MM-DD-HH'
      - name: Upload Artifact
        env:
          TIME: "${{ steps.time.outputs.time }}"
        uses: actions/upload-artifact@v4
        with:
          name: SomeStuff AC${{ matrix.ac-version }} Win ${{ env.TIME }}
          path: Build/Package/SomeStuff/${{ matrix.ac-version }}
  build_mac:
    strategy:
      fail-fast: false
      matrix:
        ac-version: [25, 26, 27, 28, 29]
    runs-on: ${{ matrix.params.acVersion < 26 && 'macos-15-intel' || 'macos-latest' }}
    steps:
      - uses: actions/checkout@v4

      - name: Checkout the submodule
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Setup Xcode
        if: runner.os == 'macOS'
        run: |
          if [ ${{ matrix.ac-version }} -lt 29 ]; then
            xcVersion=14.2
          else
            xcVersion=15.1
          fi
          echo "Using Xcode version: ${xcVersion}"
          sudo xcode-select -s /Applications/Xcode_${xcVersion}.app
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install requests
      
      - name: Run build script
        run: |
          python Tools/BuildAddOn.py --configFile config.json --acVersion ${{ matrix.ac-version }} --release  --package
      - name: Get Time
        id: time
        uses: nanzm/get-time-action@master
        with:
          format: 'YYYY-MM-DD-HH'
      - name: Upload Artifact
        env:
          TIME: "${{ steps.time.outputs.time }}"
        uses: actions/upload-artifact@v4
        with:
          name: SomeStuff AC${{ matrix.ac-version }} Mac ${{ env.TIME }}
          path: Build/Package/SomeStuff/${{ matrix.ac-version }}

